
.avatar{
  margin-top:18px;
  margin-bottom:18px;
}

.avatar.avatar-cv{
   font-size: 1.6rem;
   height: 6.2rem;
   width: 6.2rem;
}

.text-right-icon{
  display:block;margin-bottom:8px;
}

*{
 font-family: 'Ubuntu';
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.ci-list{
     list-style-type: none;
     padding:0px;
     list-style-position: inside;
     padding-top:8px;
     padding-bottom:8px;
}

.ci-list >li{
     margin: 0px;
     padding-top:8px;
     padding-bottom:8px; 
     text-indent:4px;
     text-align:left;
     margin-top:1px;
     height:36px;
}

.tile-subtitle{
  margin: 0 0 .4rem
}