/*nombres de colores html roja*/
$red:
"indianred",
"lightcoral",
"salmon",
"darksalmon",
"lightsalmon",
"crimson",
"red",
"firebrick",
"darkred";

/*nombres de colores html rosa*/
$pink:
"pink",
"lightpink",
"hotpink",
"deeppink",
"mediumvioletred",
"palevioletred";

/*nombres de colores html naranja*/
$orange:
"lightsalmon",
"coral",
"tomato",
"orangered",
"darkorange",
"orange";

/*nombres de colores html amarilla*/
$yellow:
"gold",
"yellow",
"lightyellow",
"lemonchiffon",
"lightgoldenrodyellow",
"papayawhip",
"moccasin",
"peachpuff",
"palegoldenrod",
"khaki",
"darkkhaki";

/*nombres de colores html púrpura*/
$purple:
"lavender",
"thistle",
"plum",
"violet",
"orchid",
"fuchsia",
"magenta",
"mediumorchid",
"mediumpurple",
"rebeccapurple",
"blueviolet",
"darkviolet",
"darkorchid",
"darkmagenta",
"purple",
"indigo",
"slateblue",
"darkslateblue",
"mediumslateblue";

/*nombres de colores html verde*/
$green:
"greenyellow",
"chartreuse",
"lawngreen",
"lime",
"limegreen",
"palegreen",
"lightgreen",
"mediumspringgreen",
"springgreen",
"mediumseagreen",
"seagreen",
"forestgreen",
"green",
"darkgreen",
"yellowgreen",
"olivedrab",
"olive",
"darkolivegreen",
"mediumaquamarine",
"darkseagreen",
"lightseagreen",
"darkcyan",
"teal";

/*nombres de colores html azul*/
$blue:
"aqua",
"cyan",
"lightcyan",
"paleturquoise",
"aquamarine",
"turquoise",
"mediumturquoise",
"darkturquoise",
"cadetblue",
"steelblue",
"lightsteelblue",
"powderblue",
"lightblue",
"skyblue",
"lightskyblue",
"deepskyblue",
"dodgerblue",
"cornflowerblue",
"mediumslateblue",
"royalblue",
"blue",
"mediumblue",
"darkblue",
"navy",
"midnightblue";

/*nombres de colores html marrón*/
$brown:
"cornsilk",
"blanchedalmond",
"bisque",
"navajowhite",
"wheat",
"burlywood",
"tan",
"rosybrown",
"sandybrown",
"goldenrod",
"darkgoldenrod",
"peru",
"chocolate",
"saddlebrown",
"sienna",
"brown",
"maroon";

/*nombres de colores html blanco*/
$white:
"white",
"snow",
"honeydew",
"mintcream",
"azure",
"aliceblue",
"ghostwhite",
"whitesmoke",
"seashell",
"beige",
"oldlace",
"floralwhite",
"ivory",
"antiquewhite",
"linen",
"lavenderblush",
"mistyrose";

/*nombres de colores html gris*/
$gray:
"gainsboro",
"lightgray",
"silver",
"darkgray",
"gray",
"dimgray",
"lightslategray",
"slategray",
"darkslategray",
"black";

$colors:$red,$pink,$orange,$yellow,$purple,$green,$blue,$brown,$white,$gray;
@each $color in $colors{
	@each $vl in $color{
		.bgc-#{$vl}{
			background-color:#{$vl};
		}
	}
}
