$btr : border-top-right-radius;
$bbr : border-bottom-right-radius;
$btl : border-top-left-radius;
$bbl : border-bottom-left-radius;

@for $i from 1 through 10 { 
.br#{$i}{
	border-radius:#{$i}px;
}
.brl#{$i}{
#{$btl}	:#{$i}px;
#{$bbl}:#{$i}px;
}
.brr#{$i}{
	#{$btr}:#{$i}px;
 #{$bbr}:#{$i}px;
}
.brt#{$i}{
	#{$btl}:#{$i}px;
 #{$btr}:#{$i}px;
}
.brb#{$i}{
	#{$bbl}:#{$i}px;
 #{$bbr}:#{$i}px;
}
.brtl#{$i}{#{$btl}	:#{$i}px;}
.brtr#{$i}{#{$btr}	:#{$i}px;}
.brbl#{$i}{#{$bbl}	:#{$i}px;}
.brbr#{$i}{#{$bbr}	:#{$i}px;}
}