@function get-colors-list($list-normal:null,$list-accent:null){
   
   $cp-white:rgba(255,255,255,.87);
   $cp-black:rgba(0,0,0,.87);
   $cp-normal:"50","100","200","300","400","500","600","700","800","900";
   $cp-accent:"A100","A200","A300","A400","A700";
      
    $map: null ;
    
    @if $list-normal != null {
      @for $i from 1 through length($list-normal){
          @if $map == null {
              
              $bg : nth( nth( $list-normal,$i ), 1 ) ;
              $c: nth( nth( $list-normal,$i ), 2 ) ;
              @if $c == 0 {$c:$cp-black;}@else if($c == 1){$c:$cp-white;}
              $map:(  nth($cp-normal,$i)  :get-colors( $bg , $c ) );
              
          }@else {
              
              $bg : nth( nth( $list-normal,$i ), 1 ) ;
              $c: nth( nth( $list-normal,$i ), 2 ) ;
              @if $c == 0 {$c:$cp-black;}@else if($c == 1){$c:$cp-white;}
              $map: map-merge($map, (  nth($cp-normal,$i)   : get-colors(  $bg ,$c )  ));
          }
      }
    }
    
    
    @if $list-accent != null {
      @for $i from 1 through length($list-accent){
          @if $map == null {
              
              $bg : nth( nth( $list-accent,$i ), 1 ) ;
              $c: nth( nth( $list-accent,$i ), 2 ) ;
              @if $c == 0 {$c:$cp-black;}@else if($c == 1){$c:$cp-white;}
              $map:(  nth($cp-accent,$i)  :get-colors( $bg , $c ) );
              
          }@else {
              
              $bg : nth( nth( $list-accent,$i ), 1 ) ;
              $c: nth( nth( $list-accent,$i ), 2 ) ;
              @if $c == 0 {$c:$cp-black;}@else if($c == 1){$c:$cp-white;}
              $map: map-merge($map, (  nth($cp-accent,$i)   : get-colors(  $bg ,$c )  ));
          }
      }
    }
    
   @return $map; 
}

@function get-colors($bg,$color){
	 @return ("bg":$bg,"c":$color)
}

$cp-red-normal:("#FFEBEE",0),("#FFCDD2",0),("#EF9A9A",0),
("#E57373",0),("#EF5350",1),("#F44336",1),("#E53935",1),
("#D32F2F",1),("#C62828",1),("#B71C1C",1);

$cp-red-accent:("#FF8A80",0),("#FF5252",1),("#FF1744",1),
("#D50000",1);

$cp-red:get-colors-list($cp-red-normal,$cp-red-accent);

$cp-pink-normal:("#FCE4EC",0),("#F8BBD0",0),("#F48FB1",0),
("#F06292",0),("#EC407A",1),("#E91E63",1),
("#D81B60",1),("#C2185B",1),("#AD1457",1),
("#880E4F",1);

$cp-pink-accent:("#FF80AB",0),("#FF4081",1),("#F50057",1),
("#C51162",1);

$cp-pink:get-colors-list($cp-pink-normal,$cp-pink-accent);

$cp-purple-normal:("#F3E5F5",0),("#E1BEE7",0),("#CE93D8",0),
("#BA68C8",1),("#AB47BC",1),("#9C27B0",1),("#8E24AA",1),
("#7B1FA2",1),("#6A1B9A",1),("#4A148C",1);

$cp-purple-accent:("#EA80FC",0),("#E040FB",1),("#D500F9",1),("#AA00FF",1);

$cp-purple:get-colors-list($cp-purple-normal,$cp-purple-accent);

$cp-deeppurple-normal:("#EDE7F6",0),("#D1C4E9",0),("#B39DDB",0),("#9575CD",1),
("#7E57C2",1),("#673AB7",1),("#5E35B1",1),("#512DA8",1),("#4527A0",1),
("#311B92",1);

$cp-deeppurple-accent:("#B388FF",0),("#7C4DFF",1),("#651FFF",1),("#6200EA",1);

$cp-deeppurple:get-colors-list($cp-deeppurple-normal,$cp-deeppurple-accent);

$cp-indigo-normal:("#E8EAF6",0),("#C5CAE9",0),("#9FA8DA",0),("#7986CB",1),
("#5C6BC0",1),("#3F51B5",1),("#3949AB",1),("#303F9F",1),("#283593",1),("#1A237E",1);

$cp-indigo-accent:("#8C9EFF",0),("#536DFE",1),("#3D5AFE",1),("#304FFE",1);

$cp-indigo:get-colors-list($cp-indigo-normal,$cp-indigo-accent);

$cp-blue-normal:("#E3F2FD",0),("#BBDEFB",0),("#90CAF9",0),("#64B5F6",0),
("#42A5F5",0),("#2196F3",0),("#1E88E5",1),("#1976D2",1),("#1565C0",1),
("#0D47A1",1);

$cp-blue-accent:("#82B1FF",0),("#448AFF",1),("#2979FF",1),("#2962FF",1);

$cp-blue:get-colors-list($cp-blue-normal,$cp-blue-accent);

$cp-lightblue-normal:("#E1F5FE",0),("#B3E5FC",0),("#81D4FA",0),("#4FC3F7",0),
("#29B6F6",0),("#03A9F4",0),("#039BE5",0),("#0288D1",1),("#0277BD",1),
("#01579B",1);

$cp-lightblue-accent:("#80D8FF",0),("#40C4FF",0),("#00B0FF",0),("#0091EA",1);

$cp-lightblue:get-colors-list($cp-lightblue-normal,$cp-lightblue-accent);

$cp-cyan-normal:("#E0F7FA",0),("#B2EBF2",0),("#80DEEA",0),("#4DD0E1",0),
("#26C6DA",0),("#00BCD4",0),("#00ACC1",0),("#0097A7",1),("#00838F",1),
("#006064",1);

$cp-cyan-accent:("#84FFFF",0),("#18FFFF",0),("#00E5FF",0),("#00B8D4",0);

$cp-cyan:get-colors-list($cp-cyan-normal,$cp-cyan-accent);

$cp-teal-normal:("#E0F2F1",0),("#B2DFDB",0),("#80CBC4",0),("#4DB6AC",0),
("#26A69A",0),("#009688",1),("#00897B",1),("#00796B",1),("#00695C",1),
("#004D40",1);

$cp-teal-accent:("#A7FFEB",0),("#64FFDA",0),("#1DE9B6",0),("#00BFA5",0);

$cp-teal:get-colors-list($cp-teal-normal,$cp-teal-accent);


$cp-green-normal:("#E8F5E9",0),("#C8E6C9",0),("#A5D6A7",0),("#81C784",0),
("#66BB6A",0),("#4CAF50",0),("#43A047",1),("#388E3C",1),("#2E7D32",1),
("#1B5E20",1);

$cp-green-accent:("#B9F6CA",0),("#69F0AE",0),("#00E676",0),("#00C853",0);

$cp-green:get-colors-list($cp-green-normal,$cp-green-accent);

$cp-lightgreen-normal:("#F1F8E9",0),("#DCEDC8",0),("#C5E1A5",0),("#AED581",0),
("#9CCC65",0),("#8BC34A",0),("#7CB342",0),("#689F38",0),("#558B2F",1),
("#33691E",1);

$cp-lightgreen-accent:("#CCFF90",0),("#B2FF59",0),("#76FF03",0),("#64DD17",0);

$cp-lightgreen:get-colors-list($cp-lightgreen-normal,$cp-lightgreen-accent);
$cp-lime-normal:("#F9FBE7",0),("#F0F4C3",0),("#E6EE9C",0),("#DCE775",0),
("#D4E157",0),("#CDDC39",0),("#C0CA33",0),("#AFB42B",0),("#9E9D24",0),
("#827717",1);

$cp-lime-accent:("#F4FF81",0),("#EEFF41",0),("#C6FF00",0),("#AEEA00",0);
$cp-lime:get-colors-list($cp-lime-normal,$cp-lime-accent);

$cp-yellow-normal:("#FFFDE7",0),("#FFF9C4",0),("#FFF59D",0),("#FFF176",0),
("#FFEE58",0),("#FFEB3B",0),("#FDD835",0),("#FBC02D",0),("#F9A825",0),
("#F57F17",0);
$cp-yellow-accent:("#FFFF8D",0),("#FFFF00",0),("#FFEA00",0),("#FFD600",0);

$cp-yellow:get-colors-list($cp-yellow-normal,$cp-yellow-accent);

$cp-amber-normal:("#FFF8E1",0),("#FFECB3",0),("#FFE082",0),("#FFD54F",0),
("#FFCA28",0),("#FFC107",0),("#FFB300",0),("#FFA000",0),("#FF8F00",0),
("#FF6F00",0);
$cp-amber-accent:("#FFE57F",0),("#FFD740",0),("#FFC400",0),("#FFAB00",0);

$cp-amber:get-colors-list($cp-amber-normal,$cp-amber-accent);

$cp-orange-normal:("#FFF3E0",0),("#FFE0B2",0),("#FFCC80",0),("#FFB74D",0),
("#FFA726",0),("#FF9800",0),("#FB8C00",0),("#F57C00",0),("#EF6C00",0),
("#E65100",1);
$cp-orange-accent:("#FFD180",0),("#FFAB40",0),("#FF9100",0),("#FF6D00",0);

$cp-orange:get-colors-list($cp-orange-normal,$cp-orange-accent);

$cp-deeporange-normal:("#FBE9E7",0),("#FFCCBC",0),("#FFAB91",0),("#FF8A65",0),
("#FF7043",0),("#FF5722",0),("#F4511E",1),("#E64A19",1),("#D84315",1),
("#BF360C",1);

$cp-deeporange-accent:("#FF9E80",0),("#FF6E40",0),("#FF3D00",1),("#DD2C00",1);

$cp-deeporange:get-colors-list($cp-deeporange-normal,$cp-deeporange-accent);

$cp-brown-normal:("#EFEBE9",0),("#D7CCC8",0),("#BCAAA4",0),("#A1887F",1),
("#8D6E63",1),("#795548",1),("#6D4C41",1),("#5D4037",1),("#4E342E",1),
("#3E2723",1);

$cp-brown:get-colors-list($cp-brown-normal);

$cp-gray-normal:("#FAFAFA",0),("#F5F5F5",0),("#EEEEEE",0),("#E0E0E0",0),
("#BDBDBD",0),("#9E9E9E",0),("#757575",1),("#616161",1),("#424242",1),
("#212121",1);

$cp-gray:get-colors-list($cp-gray-normal);

$cp-bluegray-normal:("#ECEFF1",0),("#CFD8DC",0),("#B0BEC5",0),("#90A4AE",0),
("#78909C",1),("#607D8B",1),("#546E7A",1),("#455A64",1),("#37474F",1),
("#263238",1);

$cp-bluegray:get-colors-list($cp-bluegray-normal);

$cp-basic:(
"white":get-colors("#FFFFFF",rgba(0,0,0,.87)),
"black":get-colors("#000000",rgba(255,255,255,.87))
);

$cp-colors:(
"red":$cp-red,
"pink":$cp-pink,
"purple":$cp-purple,
"deeppurple":$cp-deeppurple,
"indigo":$cp-indigo,
"blue":$cp-blue,
"lightblue":$cp-lightblue,
"cyan":$cp-cyan,
"teal":$cp-teal,
"green":$cp-green,
"lightgreen":$cp-lightgreen,
"lime":$cp-lime,
"yellow":$cp-yellow,
"amber":$cp-amber,
"orange":$cp-orange,
"deeporange":$cp-deeporange,
"brown":$cp-brown,
"gray":$cp-gray,
"bluegray":$cp-bluegray,
"":$cp-basic);

@each $name-color,$palete-color in $cp-colors{
  @each $index,$value in $palete-color{
    .#{$name-color}#{$index}{
      background-color: map-get($value,bg);
      color: map-get($value,c);
    } 
  }
}
