$f-basic:(
sans:
"'Helvetica Neue', Helvetica, Arial, sans-serif",
serif:"Merriweather, Georgia, serif",
code:"Consolas, Monaco, 'Andale Mono',monospace");
@each $key,$vl in $f-basic{
	.#{$key}{
		font-family:#{$vl};
	}
}