$position:relative,absolute,fixed;
$pcorners:left,top,right,bottom;
@each $p in $position{
	.#{$p}{
		position:#{$p};
	}
}
@each $p in $pcorners{
	.pin-#{$p}{
		#{$p}:0;
	}
}
.pin-edges{
	@each $p in $pcorners{
		#{$p}:0;
	}
}